  body { background-color: #DCDCDC; font-family: Arial, sans-serif;
        }
        header {
            background-color: #D3D3D3;
            color: white;
            padding: 5px;
            text-align: left;
        }
        nav {
            display: flex;
            justify-content: space-around;
            margin-top: 10px;
        }
        logo {
            float: left;
        }
        main {
            padding: 20px;
        }
   .container {
        display: flex;
        justify-content: space-between;
    }
